.login-page {
	background-image: url("../img/background-login-baru.jpg");
	background-size: 100% 105vh;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}

.login-section {
	background-color: white;
	padding: 2rem;
	right: 0;
	border-radius: 0.5rem;
	position: fixed;
	margin: 3rem 3rem 0 0;
}

.login-section h4 {
	color: black;
	font-weight: 900;
	text-align: center;
	margin-bottom: 4rem;
}

.login-section a {
	color: grey;
	font-size: small;
	margin-top: -2rem;
}

.login-section p {
	color: grey;
	font-size: small;
	text-align: center !important;
}

.btn-gradient {
	background: rgb(0, 167, 219);
	background: linear-gradient(
		90deg,
		rgba(0, 167, 219, 1) 0%,
		rgba(38, 17, 196, 1) 50%,
		rgba(158, 44, 195, 1) 100%
	);
	color: white;
	text-transform: uppercase;
	border-radius: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.btn-gradient:hover {
	background: rgb(0, 167, 219);
	background: linear-gradient(
		90deg,
		rgba(158, 44, 195, 1) 0%,
		rgba(38, 17, 196, 1) 50%,
		rgba(0, 167, 219, 1) 100%
	);
}

.circle-1 {
	width: 2.2rem;
	height: 2.2rem;
	background-color: #0035ce;
}
.circle-2 {
	width: 2.2rem;
	height: 2.2rem;
	background-color: #0351f1;
}
.circle-3 {
	width: 2.2rem;
	height: 2.2rem;
	background-color: #e42b00;
}
.circle-4 {
	width: 2.2rem;
	height: 2.2rem;
	background: rgb(0, 167, 219);
	background: linear-gradient(
		45deg,
		rgba(0, 167, 219, 1) 0%,
		rgba(38, 17, 196, 1) 50%,
		rgba(158, 44, 195, 1) 100%
	);
}

@media (max-width: 576px) {
	.login-section {
		position: fixed;
		margin: 3rem;
	}
}
